.head {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timedate {
  width: 50%;
  justify-self: flex-start;
}

.theme-btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 5px;
  margin-top: 5px;
  width: 50%;
}

.light {
  width: 18px;
  height: 18px;
  padding: 15px;
  cursor: pointer;
}

.dark {
  width: 18px;
  height: 18px;
  padding: 15px;
  cursor: pointer;
}

.forest {
  width: 18px;
  height: 18px;
  padding: 15px;
  cursor: pointer;
}
