@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400&family=Rubik&display=swap");

:root {
  --light: #faf0f1;
  --dark: #373e40;
  --primary: #488286;
  --secondary: #305252;
  --main-font: "Karla", sans-serif;
  --second-font: "Rubik", sans-serif;
}

body {
  font-family: var(--main-font);
  font-weight: 300;
  background-color: var(--light);
  text-align: center;
}
